{% extends 'base.html' %}

{% block content %}

<!-- Bootstrap form -->

<div class="container col-6">

    <form action="{% url 'bird_email' %}" method="POST">

        {% csrf_token %}

        <div class="form-group mb-3 mt-4">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
        </div>

        <div class="form-group mb-3">
            <label for="exampleFormControlSelect1">Number of Pictures</label>
            <select class="form-control" id="exampleFormControlSelect1" name="bird_count">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="exampleFormControlSelect2">Bird Category</label>
            <select class="form-control" id="exampleFormControlSelect1" name="species">
            {% for bird in categories %}
                <option>{{bird}}</option>
            {% endfor %}

            </select>
        </div>

        <input type="submit" class="btn btn-success mt-4" value="Email Bird">

    </form>
</div>

{% endblock %}