{% extends "base.html" %}

{% block content %}

{% load static %}

<div role="main">

    <section class="jumbotron text-center">
        <div class="container">
        <h1 class="jumbotron-heading display-2">Birds</h1>
        <p class="lead text-muted mb-5">Explore the site to see pictures of birds that our users uploaded. Use the search link in the navbar to search our observations. Better yet, sign up for an account and login to upload your own observations.</p>
        <p class="lead text-muted mt-3">Click the button below to get a random bird.</p>

        <p>
            <a href="{% url 'random_bird' %}" class="btn btn-primary">Random Bird</a>
        </p>
        </div>
    </section>

    <div class="album py-5 bg-light">

        <div class="container">

            <h1 class="text-center display-4, mb-3">Song Birds</h1>
            
            <div class="row">

                {% for o in songbirds %}

                <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{o.picture.url}}" width="100%" class="card-img-top"aria-label="{{o.name}}"/>
                    <div class="card-body">
                    <h1 class="text-center mb-2" style="color : {{o.color}}">{{o.name}}</h1>
                    <h4 class="text-center blockquote-footer user">{{o.person.username}}</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">{{o.date}}</small>
                    </div>
                    </div>
                </div>
                </div>

                {% endfor %}
            </div>

            <h1 class="text-center display-4 mb-3">Raptors</h1>

            <div class="row">

                {% for o in raptors %}

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{o.picture.url}}" width="100%" class="card-img-top"aria-label="{{o.name}}"/>
                        <div class="card-body">
                        <h1 class="text-center mb-2" style="color : {{o.color}}">{{o.name}}</h1>
                        <h4 class="text-center blockquote-footer user">{{o.person.username}}</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{o.date}}</small>
                        </div>
                        </div>
                    </div>
                    </div>

                {% endfor %}

            </div>

            <h1 class="display-4 text-center mb-3">Water Birds</h1>

            <div class="row">

                {% for o in waterbirds %}

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{o.picture.url}}" width="100%" class="card-img-top"aria-label="{{o.name}}"/>
                        <div class="card-body">
                        <h1 class="text-center mb-2" style="color : {{o.color}}">{{o.name}}</h1>
                        <h4 class="text-center blockquote-footer user">{{o.person.username}}</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{o.date}}</small>
                        </div>
                        </div>
                    </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}