{% extends 'base.html' %}

{% block content %}

<div class="container col-4 login">

    <form class="form-signin" action="{% url 'login' %}" method="POST">

        {% csrf_token %}

        <h1 class="text-center text-muted display-4 mb-5">Login</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input id="inputEmail" class="form-control mb-2" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control mb-4" placeholder="Password" required>
        
        <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        </div>

        <p>
            <input type="submit" class="btn btn-primary" type="submit" value="Login">
            <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
        </p>
        
    </form>
</div>

  {% endblock %}
