{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="display-3 text-center mb-5">Your Uploads</h1>
    <div class="row">

        <!-- Can't indent HTML inside for loop -->
        {% for o in observations %}

        <div class="col-md-6">
            <div class="card mb-4 box-shadow">
                <div class="card-body pb-2 photo-card">
                    <h1 class="mb-1 text-center" style="color: {{o.color}}">{{o.name}}</h1>
                    <p class="mb-1 text-muted text-center">{{o.date}}</p>
                    <h4 class="text-center bold">{{o.category}}</h4>
                </div>
                <img src="{{o.picture.url}}" width="100%" aria-label="{{o.name}}">
                {% if o.description != "" %}
                <h5 class="card-text text-center mb-auto px-3 py-3 photo-card">{{o.description}}</h5>
                {% endif %}
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}